@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$poppins: 'Poppins', sans-serif;

$color-bg: #060E17;
$color-surface: #10161D;
$color-surface-alt: #1C252F;
$color-gold: #FBC500;
$color-cyan: #78A6B8;
$color-text: #FFFFFF;
$color-muted: #8A8D98;
$color-muted-light: #999C9F;
